{% extends 'base.html.twig' %}
{% block title %}
    To Do List
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <ul>
        {% for todo in stood %}
            <li>
                {% if todo.completed %}
                    <a href="{{ path('not_completed', {id: todo.id}) }}">not finished actually?</a>
                {% else %}
                    <a href="{{ path('completed', {id: todo.id}) }}">finished?</a>
                {% endif %}
                {{ todo.stood }}
            </li>
            <a href="{{ path('delete', {id: todo.id}) }}">Delete</a>
        {% endfor %}

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </ul>
{% endblock %}